<div class="header">
        <div>
            <a href="/"><img src="/images/logo.png" alt="Logo"></a>
        </div>
        <form action="/search" id="form" method="get">
            <input type="text" name="keyword" placeholder="Search from our 10,000+ Recipes around the world" id="search">
            <input type="submit" value="" id="searchbtn">
        </form>
</div>