<div class="header">
                <ul>
                    <li class="current">
                        <a href="/">Home</a>
                    </li>
                    <li>
                        <a href="recipes">A to Z Recipes</a>
                    </li>
                    <li>
                        <a href="featured">Featured Recipes</a>
                    </li>
                    <li>
                        <a href="videos">Videos</a>
                    </li>
                    <li>
                        <a href="about">About</a>
                    </li>
                    <li>
                        <a href="blog">Blog</a>
                    </li>
                    <li>
                        <a href="Sort">Sort</a>
                    </li>
                </ul>
            </div>