
    <div class="body">
        <div>
            {{>nav}}
            <div class="body">
                <div>
                    <a href="/"><img src="images/turkey.jpg" alt="Image"></a>
                </div>
                <ul>
                    <li class="current">
                        <a href="blog"><img src="images/holi-turkey.jpg" alt="Image"></a>
                        <div>
                            <h2><a href="blog">Holy Turkey</a></h2>
                            <p>
                                This is just a place holder
                            </p>
                        </div>
                    </li>
                    <li>
                        <a href="blog"><img src="images/fruits-and-bread.jpg" alt="Image"></a>
                        <div>
                            <h2><a href="blog">Fruits &amp; Bread</a></h2>
                            <p>
                                This is just a place holder
                            </p>
                        </div>
                    </li>
                    <li>
                        <a href="blog"><img src="images/dessert.jpg" alt="Image"></a>
                        <div>
                            <h2><a href="blog">Dessert</a></h2>
                            <p>
                                This is just a place holder
                            </p>
                        </div>
                    </li>
                </ul>
            </div>
            <div class="footer">
                <ul>
                    <li>
                        <h2><a href="featured">Featured Recipes</a></h2>
                        <a href="featured"><img src="images/featured.jpg" alt="Image"></a>
                    </li>
                    <li>
                        <h2><a href="recipes">A to Z Recipes</a></h2>
                        <a href="recipes"><img src="images/a-z.jpg" alt="Image"></a>
                    </li>
                </ul>
                <ul>
                    <li>
                        <h2><a href="videos">Videos</a></h2>
                        <a href="videos"><img src="images/videos.jpg" alt="Image"></a>
                    </li>
                    <li>
                        <h2><a href="blog">Blog</a></h2>
                        <a href="blog"><img src="images/blog.jpg" alt="Image"></a>
                    </li>
                </ul>
            </div>
        </div>
        <div>
            <div>
                <h3>Cooking Video</h3>
                <a href="videos"><img src="images/cooking-video.png" alt="Image"></a>
                <span>Vegetable &amp; Rice Topping</span>
            </div>
            <div>
                <h3>Featured Recipes</h3>
                <ul id="featured">
                    <li>
                        <a href="recipes"><img src="images/sandwich.jpg" alt="Image"></a>
                        <div>
                            <h2><a href="recipes">Ham Sandwich</a></h2>
                            <span>by: Anna</span>
                        </div>
                    </li>
                    <li>
                        <a href="recipes"><img src="images/biscuit-and-coffee.jpg" alt="Image"></a>
                        <div>
                            <h2><a href="recipes">Biscuit &amp; Sandwich</a></h2>
                            <span>by: Sarah</span>
                        </div>
                    </li>
                    <li>
                        <a href="recipes"><img src="images/pizza.jpg" alt="Image"></a>
                        <div>
                            <h2><a href="recipes">Delicious Pizza</a></h2>
                            <span>by: Rico</span>
                        </div>
                    </li>
                </ul>
            </div>
            <div>
                <h3>Blog</h3>
                <ul id="blog">
                    <li>
                        <a href="blog">This is just a place holder, so you can see what the site would look like.</a>
                        <span class="date">Jan 9, by Liza</span>
                    </li>
                    <li>
                        <a href="blog">This is just a place holder, so you can see what the site would look like.</a>
                        <span class="date">Feb 16, by Myk</span>
                    </li>
                    <li>
                        <a href="blog">This is just a place holder, so you can see what the site would look like.</a>
                        <span class="date">March 15, by Xaxan</span>
                    </li>
                </ul>
            </div>
            <div>
                <h3>Get Updates</h3>
                <a href="http://freewebsitetemplates.com/go/facebook/" target="_blank" id="facebook">Facebook</a>
                <a href="http://freewebsitetemplates.com/go/twitter/" target="_blank" id="twitter">Twitter</a>
                <a href="http://freewebsitetemplates.com/go/youtube/" target="_blank" id="youtube">Youtube</a>
                <a href="http://freewebsitetemplates.com/go/flickr/" target="_blank" id="flickr">Flickr</a>
                <a href="http://freewebsitetemplates.com/go/googleplus/" target="_blank" id="googleplus">Google&#43;</a>
            </div>
        </div>
    </div>