<!DOCTYPE html>
<!-- Website template by freewebsitetemplates.com -->
<html>

<head>
    <meta charset="UTF-8">
    <title>{{pageTitle}}</title>
    <link rel="stylesheet" type="text/css" href="/css/style.css">
</head>

<body>
   {{> header}}
   {{{body}}}
    {{> footer}}
</body>

</html>